.App {
  padding-left: 10%;
  padding-right: 10%;
}

.Results {
  margin-top: 5%;
}

input,
input[type="text"] {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px black;
  font-size: 1.4rem;
}

.Example::before {
  content: " | ";
  color: red;
}

.Synonym:not(:last-child)::after {
  content: " • ";
  color: grey;
}
