.App {
  padding-left: 10%;
  padding-right: 10%;
}

.Results {
  margin-top: 5%;
}

input,
input[type="text"] {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px black;
  font-size: 1.4rem;
  padding: 10px 10px 0 10px;
  width: 100%;
}

.Example::before {
  content: " • ";
  color: red;
}

.Phonetic {
  position: relative;
  line-height: 30px;
  display: inline-block;
}

.Phonetic::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  height: 2px;
  background: red;
  transition: all ease 0.45s;
}

.Phonetic:hover:before {
  transform: scaleX(1);
}

.Synonym:not(:last-child)::after {
  content: " • ";
  color: grey;
}
